.jumbotron {
    background: url(library.png) center no-repeat;
    text-align: center;
    color: #F1FFFA;
    font-family: 'Unica One', cursive;
    font-size: 25px;
    text-shadow: 2px 2px 5px #785964;
}