.book-title {
    font-weight: 700;
    color: #93B7BE;
    font-size: 30px;
    text-align: center;
}

.author {
    font-size: 25px;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
}

.view-btn {
    padding: 10px;
    background-color: #D5C7BC;
    border-color: #D5C7BC;
    border-style: solid;
    border-radius: 20px;
    color: #F1FFFA;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    width: 150px;
}

.img-desc {
    display: flex;
}

.img-thumbnail {
    margin-left: 10px;
    margin-right: 30px;
}

.book-desc {
    font-size: 20px;
    font-family: 'Rajdhani', sans-serif;
}

.btn-container {
    display: flex;
    justify-content: center;
}
