.nav-container {
  background-color: #454545
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-item {
  float: left;
}

.navbar a {
  display: block;
  padding: 20px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
  text-decoration: none;
  color: #F1FFFA;
}