.nav-container {
  background-color: #b86161
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-item {
  float: left;
}
/* 
li Link {
  display: block;
  padding: 8px;
  background-color: #b86161;
} */